body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
	position: relative;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a {
	display: block;
	padding: 15px 20px;
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color:#81b3d2;
}

.site-navigation a:active {
	color:rgba(0, 0, 0, 0.3);
}

.site-navigation li:first-child {
	margin-left: 51px;
}

.site-navigation li:nth-child(2) {
	padding-left: 108px;
}

.site-navigation li:nth-child(3) {
	padding-left: 347px;
}

.site-navigation li:nth-child(4) {
	padding-left: 126px;
}

.page-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	width: 138px;
	height: 70px;
	margin-left: -69px;
	z-index: 1;
}

.intro {
	position: relative;
	height: 508px;
	background-color: #496173;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 0px -83px;
	background-size: cover;
	text-align: center;
}

.intro::before {
	content: "";
	position: absolute;
	top: 451px;
	left: 0px;
	width: 1200px; 
	height: 58px;
	background-image: url("../img/intro.png");
	background-repeat: no-repeat;
}

.welcome-logo {
padding: 76px 0;
}

.promo {
	text-align: center;
	background-color: #ffffff;
}

.promo h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.promo p {
	line-height: 21px;
}

.promo-info {
	background-color: #ffffff;
	padding: 61px 288px 53px 288px;
}

.promo-info h1 {
	padding: 0;
	margin: 0 0 29px 0;
}

.promo-info p{
	padding: 0;
	margin: 0;
}

.advantage {
	display: flex;
}

.advantage-left,
.advantage-right {
	box-sizing: border-box;
	width: 400px;
	padding: 48px 0 58px 0;
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

.advantage-title {
	margin: 0 0 24px 0;
	padding: 0 92px;
	font-weight: bold;
	font-size: 21px;
}

.advantage-left p,
.advantage-right p{
	padding: 0 42px;
	margin: 21px 0 0 0;
}

.advantage-image {
	width:800px;
	background-position:center;
	background-repeat: no-repeat;
}

.city-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.features {
	margin: 0px;
	padding:0px;
	text-align: center;
	background-color: #ffffff;
}

.features-list{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
}

.feature-item {
	position: relative;
	width: 400px;
	padding-top: 162px;
	padding-bottom: 82px;
}

.feature-item h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 21px;
}

.feature-item p {
	margin: 23px 0 0 0;
	padding: 0 56px;
}

.feature-item::before {
	content: "";
	position: absolute;
	bottom: 180px;
	left: 162px;
	width: 80px;
	height: 90px;
	background-repeat: no-repeat;
}

.feature-item:first-child::before {
	background-image: url("../img/icon-1.svg");
}

.feature-item:nth-child(2)::before {
	background-image: url("../img/icon-3.svg");
	bottom: 179px;
	left: 163px;
}

.feature-item:nth-child(3)::before {
	background-image: url("../img/icon-2.svg");
	bottom: 184px;
	left: 168px;
}

.bridge-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.reasons{
	text-align: center;
	background-color: #eeeeee;
}

.reason-title {
	margin: 18px 0 24px 0;
	padding: 0 121px;
	font-weight: bold;
	font-size: 21px;
}

.reasons-list{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.reason-list-item {
	width: 400px;
	padding: 29px 0 59px 0;
	background-color: #eeeeee;
}

.reason-list-item p {
	margin: 21px 0 0 0;
	padding: 0 69px;
}

.order {
	text-align: center;
	position: relative;
	box-sizing: border-box;
	padding-top: 52px;
	background-color: #ffffff;
}

.order b{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.order p {
	margin: 23px 0 46px 0;
	padding: 0 379px;
}

.order .brown-btn {
	width: 568px;
	height: 86px;
}

.hotel-search p {
	line-height: 24px;
}

.search-form {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -284px;
	padding: 54px 55px 0 55px;
	color: #000000;
	line-height: 21px;
	font-weight: bold;
	background-color: #ffffff;
	z-index: 2;
}

.search-form-hide {
	display: none;
}

.input-container {
	margin:0 50px;
}

.search-form-date {
	position: relative;
}

.search-form-date input{
	margin: 0 0 25px 18px;
	padding: 11px 188px 7px 8px;
}

.search-form-date:nth-child(2) input{
	margin-left: 14px;
}

.search-form-date:first-child {
	margin-bottom: 4px;
}

.search-form-date:nth-child(2) {
	margin-bottom: 4px;
}

.input-icon {
	width: 40px;
	height: 35px;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	border: none;
}

.calendar {
	position: absolute;
	top: 4px;
	left: 418px;
	fill: #cacaca;
	background-color: transparent;
}

.minus,
.plus {
	position: absolute;
	fill: #cacaca;
	background-color: transparent;
}

.minus {
	bottom: 4px;
	left: 111px;
}

.plus {
	left: 186px;
	bottom: 0px;
}

.search-form-visitors:nth-child(2) .minus{
	left: 62px;
	bottom: 4px;
}

.search-form-visitors:nth-child(2) .plus{
	left: 137px;
	bottom: 1px;
}

.calendar svg:hover, 
.calendar svg:focus,
.minus svg:hover, 
.minus svg:focus,
.plus svg:hover,
.plus svg:focus {
	fill: #000000;
}

.calendar svg:active,
.minus svg:active, 
.plus svg:active {
	fill: #81b3d2;
}

.visitors {
	display: flex;
	margin-top: 6px;
}

.search-form-visitors {
	position: relative;
	display: flex;
	align-items: center;
}

.search-form-visitors input {
	width: 104px;
	margin: 0 0 0 38px;
	padding: 9px 4px;
	text-align: center;
}

.search-form-visitors:nth-child(2) {
	margin-left: 53px;
}

.search-form-visitors:nth-child(2) input{
	margin-left: 19px;
}

.search-form input {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none; 
	border: 2px solid transparent;
}

.search-form input::-webkit-input-placeholder { 
	color: #000000;
}

.search-form input::-moz-placeholder {
	color: #000000;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
}

.search-btn {
	margin: 54px 0 55px 0;
	padding: 16px 196px;
}

.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.brown-btn {
	background-color: #766357;
}

.brown-btn:hover,
.brown-btn:focus {
	background-color: #604e43;
}

.brown-btn:active {
	color:rgba(255, 255, 255, 0.3);
	background-color:#503e33;
}

.blue-btn {
	background-color: #81b3d2;
}

.blue-btn:hover,
.blue-btn:focus {
	background-color: #9abfd6;
}

.blue-btn:active {
	color:rgba(255, 255, 255, 0.3);
	background-color:#8cb8d2;
}

.map {
	position: relative;
	height: 593px;
	background-color: #9b7966;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.google-map {
	position: relative;
	z-index: 1;
}

.page-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 100px 27px 132px;
	background-color: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	z-index: 1;
}

.index-footer {
	margin-top: -121px;
}

.footer-hashtag h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 104px;
}

.footer-social a {
	position: relative;
}

.footer-social a::before {
	content: "";
	position: absolute;
	top: -24px;
	left: -9px;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;
}

.footer-social a::after {
	content: "";
	position: absolute;
	top: -24px;
	left: -9px;
	width: 46px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center;
}



.footer-social a:hover::before,
.footer-social a:focus::before {
	background-color: #669ec0;
}

.footer-social a:active::before {
	background-color: #5496bd;
}

.footer-social a:first-child::after {
	background-image: url("../img/twitter.svg");
}

.footer-social a:nth-child(2)::after {
	background-image: url("../img/fb-icon.svg");
}

.footer-social a:nth-child(3)::after {
	background-image: url("../img/youtube.svg") ;
}

.footer-social a:first-child:active::after {
	opacity: 0.3;
}

.footer-social a:nth-child(2):active::after {
	opacity: 0.3;
}

.footer-social a:nth-child(3):active::after {
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-copyright b {
	line-height: 26px;
}

.footer-copyright a {
	margin: 9px 0 0 8px;
}

.academy-logo {
	width: 115px;
	height: 41px;
}

.academy-logo:hover,
.academy-logo:focus {
	fill: #81b3d2;
}

.academy-logo:active {
	fill: #bdbbbc;
}

/*hotels.html*/

.site-navigation .hotels-link {
	color: #766357;
}

.site-navigation .hotels-link:hover,
.site-navigation .hotels-link:focus {
	color: #766357;
}

.filters {
	color:#ffffff;
	font-size: 16px;
	line-height: 21px;
	background-color: #7a99b8;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 0 -38px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	margin-bottom: 8px;
	font-weight: bold;
}

.filters input {
	background-color: transparent;
	border: none;
}

.filters-form {
	display: flex;
	justify-content: space-between;
	padding: 28px 72px 5px 72px;
}

.filters-form fieldset {
	margin: 0;
	padding: 0;
}

.radio-container {
	display: flex;
}

.checkbox-input {
	position: relative;
	margin: 14px 0 26px 41px;
	font-size: 14px;
}

.checkbox-input input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -41px;
	width: 27px;
	height: 27px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.checkbox-input input[type="checkbox"]:checked + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -41px;
	width: 27px;
	height: 27px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.checkbox-input input[type="checkbox"]:focus + .checkbox-indicator {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-input input[type="checkbox"]:disabled + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -41px;
	width: 27px;
	height: 27px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	opacity: 0.4;
}

.checkbox-input input[type="checkbox"]:checked:disabled + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: -41px;
	width: 27px;
	height: 27px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	opacity: 0.4;
}

.additions {
	display: flex;
	flex-direction: column;
}

.filters-form .accommodation-type {
	display: flex;
	flex-direction: column;
	margin-left: 121px;
}

.price-container {
	width: 318px;
}

.accommodation-price {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.found {
	display: flex;
	align-items: center;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.found h2,
.found span {
	margin: 0px;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
}

.found span {
	margin-left: 6px;
}

.price {
	border: 2px solid #ffffff;
}

.price .price-from {
	border-right: 2px solid #ffffff;
}

.price input::-webkit-input-placeholder { 
	color: #ffffff;
}

.price input::-moz-placeholder {
	color: #ffffff;
}

.transparent-btn {
	padding: 5px 34px;
	margin: 0 0 0 85px;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.transparent-btn:hover,
.transparent-btn:focus{
	color: #000000;
	background-color: #ffffff;
}


.found-sorting {
	display: flex;
	justify-content: space-between;
	padding: 32px 71px 28px 71px;
	background-color: #ffffff;
}

.sorting {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	margin-left: -450px;
	background-color: #ffffff;
}

.sorting h3 {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}

.sorting-list {
	display: flex;
	margin: 0 0 0 7px;
	padding: 0;
	background-color: #ffffff;
	list-style: none;
}

.sorting-list-btn {
	color:rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-list-btn {
	margin-left: 33px;
}

.sorting-list-btn:hover,
.sorting-list-btn:focus {
	color:#81b3d2;
}

.sorting-list-btn:active {
	color:#000000;
	border:none;
}

.sorting-active {
	border:none;
		color:#81b3d2;
}

.arrow-sorting {
	fill: rgba(0, 0, 0, 0.3);
}

.arrows a {
	display: inline-block;
	width: 11px;
	height: 11px;
	margin: -3px 0 0 8px;
	vertical-align: middle;
}

.arrows svg {
	pointer-events: none;
}

.blue-arrow svg {
	fill: #81b3d2;
}

.arrows a:focus svg,
.arrows a:hover svg {
	fill: #000000;
}

.arrows a:active svg {
	fill: #81b3d2;
}

.hotels-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-item {
	display: flex;
	justify-content: space-between;
	padding: 30px 72px;
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
	color:#000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotel-name:hover,
.hotel-name:focus{
	color:#81b3d2;
}

.hotel-name:active{
	color:rgba(0, 0, 0, 0.3);
}

.hotel-info {
	margin: -4px 0 0 30px;
}

.hotel-btn {
	padding: 5px 17px;
}

.hotel-info .brown-btn {
	margin-left: 2px;
}

.hotel-price {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 16px 0;
	padding-right: 122px;
}

.priсe-table {
	position: relative;
	height: 33px;
	width: 314px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.priсe-table:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
}

.priсe-table label {
	display: inline-block;
	width: 90px;
	padding-left: 65px;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.priсe-table .price-max {
	padding-left: 58px;
}

.priсe-table input {
	width: 50px;
	min-height: 32px;
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	background: none;
	border: none;
}

.range {
	position: relative;
	margin-bottom: 32px;
}

.range .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3)
}

.range .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
	background-color: #1c4f80;
	border: 9px solid #ffffff;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.hotel {
	display: flex;
}

.hotel-rating {
	position: relative;
	padding: 4px 14px;
	color:#666666;
	background-color: #f2f2f2;
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.star {
	height: 17px;
	margin: 0;
	background-color: #ffffff;
	background-image: url("../img/star.svg");
	background-repeat: space;
}

.four-stars {
	width: 89px;
}

.three-stars {
	width: 65px;
}

.two-stars {
	width: 41px;
}

.hotel-btn {
	font-size: 14px;
	line-height: 21px;
}

.hotels-footer {
	background-color: #fefefe;
}