body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: #000000;
	display: block;
	padding: 15px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color:#81b3d2;
}

.site-navigation a:active {
	color:rgba(0, 0, 0, 0.3);
}

.site-navigation li:first-child {
	margin-left: 51px;
}

.site-navigation li:nth-child(2) {
	padding-left: 108px;
}

.site-navigation li:nth-child(3) {
	padding-left: 347px;
}

.site-navigation li:nth-child(4) {
	padding-left: 126px;
}

.page-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -69px;
	width: 138px;
	height: 70px;
}

.intro {
	height: 508px;
	background-color: #496173;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 0px -83px;
	background-size: cover;
}

.intro::before {
	content: "";

	position: absolute;
	top: 132px;

	width: 1200px; 
	height: 432px;

	background-image: url("../img/intro.png");
	background-repeat: no-repeat;
}

.promo {
	text-align: center;
	background-color: #ffffff;
}

.promo h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.promo p {
	line-height: 21px;
}

.promo-info {
	background-color: #ffffff;
	padding: 61px 288px 53px 288px;
}

.promo-info h1 {
	padding: 0;
	margin: 0 0 29px 0;
}

.promo-info p{
	padding: 0;
	margin: 0;
}

.advantage {
	display: flex;
}

.advantage-left,
.advantage-right {
	box-sizing: border-box;
	width: 400px;
	padding: 48px 0 58px 0;

	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
}

.advantage-title {
	margin: 0 0 24px 0;
	padding: 0 92px;
	font-weight: bold;
	font-size: 21px;
}

.advantage-left p,
.advantage-right p{
	padding: 0 42px;
	margin: 21px 0 0 0;
}

.advantage-image {
	width:800px;

	background-position:center;
	background-repeat: no-repeat;
}

.city-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.features {
	text-align: center;
	background-color: #ffffff;
	margin: 0px;
	padding:0px;
}

.features-list{
	list-style: none;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.feature-item {
	position: relative;
	width: 400px;
	padding-top: 162px;
	padding-bottom: 82px;
}

.feature-item h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 21px;
}

.feature-item p {
	margin: 23px 0 0 0;
	padding: 0 56px;
}

.feature-item::before {
	content: "";

	position: absolute;
	bottom: 180px;
	left: 162px;
	width: 80px;
	height: 90px;

	background-repeat: no-repeat;
}

.feature-item:first-child::before {
	background-image: url("../img/icon-1.svg");
}

.feature-item:nth-child(2)::before {
	background-image: url("../img/icon-3.svg");
	bottom: 179px;
	left: 163px;
}

.feature-item:nth-child(3)::before {
	background-image: url("../img/icon-2.svg");
	bottom: 184px;
	left: 168px;
}

.bridge-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.reasons{
	text-align: center;
	background-color: #eeeeee;
}

.reason-title {
	margin: 0;
	padding: 0 121px;
	font-weight: bold;
	font-size: 21px;
	padding-bottom: 24px;
}

.reasons-list{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
}

.reason-list-item {
	background-color: #eeeeee;
	padding: 0;
	width: 400px;
	padding-top: 47px;
	padding-bottom: 59px;
}

.reason-list-item p {
	margin: 21px 0 0 0;
	padding: 0 32px;
}

.order {
	text-align: center;
	position: relative;
	box-sizing: border-box;
	padding-top: 52px;
}

.order b{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.order p {
	padding: 0 402px;
	margin: 0;
	margin-top: 23px;
	margin-bottom: 46px;
}

.order .brown-btn {
	width: 568px;
	height: 86px;
}

.hotel-search p {
	line-height: 24px;
}

.search-form {
	color: #000000;
	line-height: 21px;
	font-weight: bold;
}

.search-form input {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none; 
}

.search-form input::-webkit-input-placeholder { 
	color: #000000;
}

.search-form input::-moz-placeholder {
	color: #000000;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
}

.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.brown-btn {
	background-color: #766357;
}

.brown-btn:hover,
.brown-btn:focus {
	background-color: #604e43;
}

.brown-btn:active {
	color:rgba(255, 255, 255, 0.3);

	background-color:#503e33;
}

.blue-btn {
	background-color: #b3d1e4;
}

.blue-btn:hover,
.blue-btn:focus {
	background-color: #9abfd6;
}

.blue-btn:active {
	color:rgba(255, 255, 255, 0.3);

	background-color:#8cb8d2;
}

.map {
	height: 593px;
	background-color: #9b7966;
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.page-footer {
	background-color: rgba(235, 235, 235, 0.7);
	box-sizing: border-box;
	padding-left: 132px;
	display: flex;
	align-items: center;
	padding-top: 26px;
	padding-bottom: 27px;
	margin-top: -121px;
}

.footer-hashtag h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 104px;
	margin-left: 256px;
	margin-bottom:27px;
}

.footer-social a {
	font-size: 0;
	position: relative;
}

.footer-social a::before {
	content: "";
	position: absolute;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;
}

.footer-social a:first-child::before {
	background-image: url("../img/twitter.svg");
}

.footer-social a:nth-child(2)::before {
	background-image: url("../img/fb-icon.svg");
}

.footer-social a:nth-child(3)::before {
	background-image: url("../img/youtube.svg");
}

.footer-copyright {
	margin-left: 274px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-copyright b {
	line-height: 26px;
}

.footer-copyright a {
	font-size: 0;
	margin-left: 8px;
	margin-top: 9px;
}

.academy-logo {
	width: 115px;
	height: 41px;
}

.academy-logo:hover,
.academy-logo:focus {
	fill: #81b3d2;
}

.academy-logo:active {
	fill: #bdbbbc;
}

/*hotels.html*/

.filters {
	color:#ffffff;
	font-size: 16px;
	line-height: 21px;

	background-color: #7a99b8;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: center;

	height: 217px;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-weight: bold;
}

.filters input {
	background-color: transparent;
	border: none;
}

.filters-form {
	display: flex;
}

.price {
	border: 2px solid #ffffff;
}

.price .price-from {
	border-right: 2px solid #ffffff;
}

.price input::-webkit-input-placeholder { 
	color: #ffffff;
}

.price input::-moz-placeholder {
	color: #ffffff;
}

.transparent-btn {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.transparent-btn:hover,
.transparent-btn:focus{
	color: #000000;

	background-color: #ffffff;
}

.found {
	color:#000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	display: flex;
}

.found-sorting {
	display: flex;
	height: 87px;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	display: flex;
}

.sorting-list{
	list-style: none;
}

.sorting-list-btn {
	color:rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sorting-list-btn:hover,
.sorting-list-btn:focus {
	color:#81b3d2;
}

.sorting-list-btn:active {
	color:#000000;

	border:none;
}

.hotels-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

.hotel-item {
	border-top: 1px solid #666666;
	display: flex;
}

.hotel-item:last-child {
	border-bottom: 1px solid #666666;
}

.hotel-name {
	color:#000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotel-name:hover,
.hotel-name:focus{
	color:#81b3d2;
}

.hotel-name:active{
	color:rgba(0, 0, 0, 0.3);
}

.hotel-rating {
	color:#666666;

	background-color: #f2f2f2;
}

.hotel-btn {
	font-size: 14px;
	line-height: 21px;
}