body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

.main-navigation {
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color:#81b3d2;
}

.site-navigation a:active {
	color:rgba(0, 0, 0, 0.3);
}

.intro {
	height: 510px;

	background-color: #496173;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
}

.promo {
	text-align: center;
}

.promo h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.promo p {
	line-height: 21px;
}

.advantage-left,
.advantage-right {
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
}

.advantage-text h3 {
	font-weight: bold;
	font-size: 21px;
}

.advantage-image{
	width:800px;
	height: 256px;

	background-position:center;
	background-repeat: no-repeat;
}

.city-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.features {
	text-align: center;
}

.features-list{
	list-style: none;
}

.bridge-image{
	background-color: #9b7966;
	background-image: url("../img/reason-item-image-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.reasons{
	text-align: center;
	background-color: #eeeeee;
}

.reasons-list{
	list-style: none;
}

.reason-list-item {
	background-color: #eeeeee;
}

.order {
	text-align: center;
}

.order b{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.hotel-search p {
	line-height: 24px;
}

.search-form {
	color: #000000;
	line-height: 21px;
	font-weight: bold;
}

.search-form input {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none; 
}

.search-form input::-webkit-input-placeholder { 
	color: #000000;
}

.search-form input::-moz-placeholder {
	color: #000000;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: transparent;
	border: 2px solid #e5e5e5;
}

.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.brown-btn {
	background-color: #766357;
}

.brown-btn:hover,
.brown-btn:focus {
	background-color: #604e43;
}

.brown-btn:active {
	color:rgba(255, 255, 255, 0.3);

	background-color:#503e33;
}

.blue-btn {
	background-color: #b3d1e4;
}

.blue-btn:hover,
.blue-btn:focus {
	background-color: #9abfd6;
}

.blue-btn:active {
	color:rgba(255, 255, 255, 0.3);

	background-color:#8cb8d2;
}

.map{
	background-color: #dfe7cb;
}

.page-footer {
	background-color: rgba(235, 235, 235, 0.9);
}

.footer-hashtag h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-copyright b {
	line-height: 26px;
}

.academy-logo {
	width: 115px;
	height: 41px;
}

.academy-logo:hover,
.academy-logo:focus {
	fill: #81b3d2;
}

.academy-logo:active {
	fill: #bdbbbc;
}

.filters {
	color:#ffffff;
	font-size: 16px;
	line-height: 21px;

	background-color: #7a99b8;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-weight: bold;
}

.filters input {
	background-color: transparent;
	border: none;
}

.price {
	border: 2px solid #ffffff;
}

.price .price-from {
	border-right: 2px solid #ffffff;
}

.price input::-webkit-input-placeholder { 
	color: #ffffff;
}

.price input::-moz-placeholder {
	color: #ffffff;
}

.transparent-btn {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.transparent-btn:hover,
.transparent-btn:focus{
	color: #000000;

	background-color: #ffffff;
}


.found {
	color:#000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
}

.sorting-list{
	list-style: none;
}

.sorting-list-btn {
	color:rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sorting-list-btn:hover,
.sorting-list-btn:focus {
	color:#81b3d2;
}

.sorting-list-btn:active {
	color:#000000;

	border:none;
}

.hotels-list {
	list-style: none;
}

.hotel-item {
	border-top: 1px solid #666666;
}

.hotel-item:last-child {
	border-bottom: 1px solid #666666;
}

.hotel-name {
	color:#000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.hotel-name:hover,
.hotel-name:focus{
	color:#81b3d2;
}

.hotel-name:active{
	color:rgba(0, 0, 0, 0.3);
}

.hotel-rating {
	color:#666666;

	background-color: #f2f2f2;
}

.hotel-btn {
	font-size: 14px;
	line-height: 21px;
}

/* ----- Сеточные стили -----*/

.page-header {
	margin: 0 40px;
	width: 1200px;
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	height: 56px;
	align-items: center;
}

.site-navigation li {
	width: 130px;
}

.site-navigation li:first-child {
	padding-left: 72px;
}

.site-navigation li:nth-child(2) {
	padding-left: 110px;
}

.site-navigation li:nth-child(3) {
	padding-left: 355px;
}

.site-navigation li:nth-child(4) {
	padding-left: 120px;
}


.page-header-logo {
	position: absolute;
	left: 571px;
	top: 0;
	width: 138px;
	height: 70px;
}

.intro {
	height: 508px;
	margin: 0 40px;
	width: 1200px;
}

.promo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 216px;
	margin: 0 40px;
	width: 1200px;
}

.promo_info {
	width: 575px;
	margin: 0;
	padding: 0;
}

.advantage {
	height: 256px;
	margin: 0 40px;
	width: 1200px;
	display: flex;
}

.advantage-text {
	width: 280px;
	padding-top:47px;
	padding-left: 60px;
	padding-right: 60px;
}

.features {
	height: 330px;
	margin: 0 40px;
	width: 1200px;
}

.features-list {
	margin: 0;
	padding:0px;
	height: 330px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.features-list li {
	margin: 0px;
	padding:0px;
}

.reasons {
	height: 256px;
	margin: 0 40px;
	width: 1200px;
}

.reasons-list {
	margin: 0;
	padding:0px;
	height: 256px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.reasons-list li {
	margin: 0px;
	padding:0px;
}

.order {
	height: 290px;
	margin: 0 40px;
	width: 1200px;
}

.map {
	height: 473px;
	margin: 0 40px;
	width: 1200px;
}

.map-image {
	display: none;
}

.page-footer {
	height: 120px;
	margin: 0 40px;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}